<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles-NotFound.css">
    <title>Not-Found</title>
</head>

<body>
    <header class="header">
        <img class="header-img" src="../Images/Logo1.png" alt="Platzi Video">
    </header>

    <div class="wrap">
        <div class="not-found">
            <div class="text animated pulse">
                <p class="not-found_number">404</p>
                <p class="not-found_letter">Página no encontrada</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <a href="/">Términos de uso</a>
        <a href="/">Declaración de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>

</html>